.articles-displayed{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:2rem; 
}
.article-wrap{
  border:1px solid black; 
  margin-top: 2rem;
  width: 90%;
}