.articles-displayed{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:2rem; 
}
.article-wrap{ 
  margin-top: 2rem;
  width: 90%;
  border-radius: 10px;
}
.article-wrap:hover{
  background-color: rgba(0, 0, 0, 0.072);
  opacity: .80;
}

@media (max-width: 900px) {
 .article-wrap{
  height: 25rem;
 }
}