.nav-area{
  display: flex;
  justify-content: center;
  height: 10%;
  background-color: lightgray
}
.nav-l{
  width: 45%;
  text-decoration: none;
  
}
.nav-wrapper{
  display: flex;
  justify-content: space-evenly;
  font-size: large; 
}
.nav-wrapper > h1 {
margin-left: -6rem;
color:black;
font-weight: 800; 
}
